body {
  font-family: Arial;
  text-align: center;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

input {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

h2 {
  margin-top: 20px;
}